/*
    TODO: Use MUCH more simple design here.

    I think something like this should work:

    A result consists of a grid area with named 
    areas for EVs, IVs, moves, and so on. On mobile, 
    the structure is one way. On desktop, the structure
    is more expanded. No stackdivs, no inner grids, none 
    of that. Should be much more manageable.

    Also, each result should have an import button that 
    copies directly to clipboard, and/or a button for 
    reading more (including import). Either as 'popup'
    or as its own page.
*/

/* includes read more */
.name {
    grid-area: name;
    font-size: medium;

    display: flex;
    justify-content: space-between;
    padding: 5px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #aaaaaa;
}

/* includes item icon */
.image {
    grid-area: image;
}
.img {
    width: 66px;
    height: 66px;
    object-fit: contain;
}

.icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
}
.author {
    grid-area: author;
    font-style: italic;
}
.rating {
    grid-area: rating;
}
.date {
    grid-area: date;
}
.ability {
    grid-area: ability;
}
.nature {
    grid-area: nature;
}
.evs {
    grid-area: evs;
}
.ivs {
    grid-area: ivs;
}
.moves {
    grid-area: moves;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.moves > *:not(:first-child):before {
    content: ", ";
}
.result {
    display: grid;
    font-size: small;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 20px;
    grid-template-areas:
        "name  name     "
        " author  image"
        " rating image"
        " date image"
        "ability  ."
        " nature ."
        " evs  .         "
        " ivs  . "
        " moves  . ";

    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}

.results {
    height: 100%;
    width: 100%;

    /* scroll and height */
    overflow-y: scroll;
}

.results ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;

    display: grid;
    gap: 10px;
}

/*

    TODO: This layout for mobile

    toptag
    icon <authorratingdate>   
    <abilitynature>             
    <evsivs>                    
    <moves>        
    
    And similar to original style for desktop.

    On click anywhere on a result (but with a button as well),
    bring up 

*/

.wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #fefefe;
    z-index: 1;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
}
.import {
    white-space: pre;
}
@media (min-width: 600px) {
    .result {
        display: grid;
        font-size: small;
        grid-template-columns: 66px 1fr 1fr 2fr 1fr;
        grid-template-rows: auto 22px 22px 22px;
        grid-template-areas:
            "name  name   name    name name "
            "image author ability evs  moves"
            "image rating nature  ivs  moves"
            "image date   .       .    moves";

        align-items: center;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #aaaaaa;
    }
    .moves {
        flex-direction: column;
        gap: 0;
    }
    .moves > *:not(:first-child):before {
        content: "";
    }
}
