.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: fit-content;
  background: #f4f4f4;
  color: #000;
  border-radius: 15px;
  padding: 15px;
}
.panel > h2 {
  margin: 0;
  font-size: large;
}
