.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.popup * {
  margin: 0;
}
.btn {
  font-size: medium;
  position: absolute;
  top: 0;
  right: 0;
  align-self: flex-end;
  width: max-content;
  border: none;
  color: #444444;
  background: none;
  padding: 0.25rem;
  width: 1.625rem;
  height: 1.625rem;
}
.btn:hover {
  cursor: pointer;
  color: gray;
}
.author {
  grid-area: author;
}
.rating {
  grid-area: rating;
}
.date {
  grid-area: date;
}
.wrapper {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image {
  grid-area: image;
}
.img {
  width: 4.125rem;
  height: 4.125rem;
  object-fit: contain;
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.metadata {
  display: grid;
  grid-template-columns: 4.125rem auto;
  grid-template-rows: 1.375rem 1.375rem 1.375rem;
  grid-template-areas:
    "image author"
    "image rating"
    "image date  ";

  align-items: center;
  padding-bottom: 0.3125rem;
  border-bottom: 0.0625rem solid #aaaaaa;
}
.import {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  white-space: pre-line;
}
.import > div {
  font-family: monospace;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  white-space: normal;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  position: relative;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  overflow: auto;
  border-radius: 0.3125rem;
}
@media (min-width: 25rem) {
  .details {
    width: 25rem;
    height: 37.5rem;
    max-height: 100%;
  }
}
