.filter {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;

	margin: 5px;

	border: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #888888;

	background-color: #eeeeee; 
	width: fit-content;
	font-size: small;
}

.filter > * {
	margin: 5px;
	padding: 0;
	text-transform:	capitalize;
}

.filter > button {
	width: 1em;
	height: 1em;
}

.filter > label {
}

.filter span {
	display: inline-block;
	width: max-content;
}

.filter input {
	border: none;
	border-radius: 2px;
	border-width: 0;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0); 
	font: inherit;
	color: inherit;

	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: none;
	color: rgba(0,0,0,0);
}