.name {
  grid-area: name;
  font-size: medium;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.name > button {
  margin: 2px;
}
.name > button {
  cursor: pointer;
}

.name > a {
  text-decoration: none;
  transition: opacity 300ms, transform 300ms;
}
.name > a:hover {
  text-decoration: underline;
}
/* includes item icon */
.image {
  grid-area: image;
}
.img {
  width: 58px;
  height: 58px;
  object-fit: contain;
}
.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
}
.author {
  grid-area: author;
  font-style: italic;
}
.rating {
  grid-area: rating;
}
.date {
  grid-area: date;
}
.ability {
  grid-area: ability;
}
.nature {
  grid-area: nature;
}
.evs {
  grid-area: evs;
  display: none;
}
.ivs {
  grid-area: ivs;
  display: none;
}
.moves {
  grid-area: moves;
}
.description {
  grid-area: desc;
  margin-top: 5px;
}
.result {
  display: grid;
  font-size: small;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-areas:
    "name  name  name name"
    "image author ability moves"
    "image date nature moves"
    "image rating  nature moves"
    "desc desc desc desc";

  align-items: stretch;
  padding: 10px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background 0.1s ease-in-out;
}
.result:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.result > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 700px) {
  .result {
    display: grid;
    grid-template-columns: auto 1fr 1fr 2fr 1fr;
    grid-template-areas:
      "name  name   name    name name "
      "image author ability evs  moves"
      "image date nature  ivs  moves"
      "image rating   nature  ivs  moves"
      "desc  desc   desc    desc desc ";
  }
  .evs,
  .ivs {
    display: block;
  }
}
