.filter {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  min-width: max-content;
  border: solid;
  border-radius: 1.25rem;
  border-width: 0;
  background-color: #f2f2f2;
  font-size: small;

  padding: 0.3125rem;
  gap: 0.3125rem;
}

.filter > * {
  padding: 0;
  text-transform: capitalize;
}

.btn {
  border: none;
  font-size: smaller;
  background: none;
  color: #444444;
}

.btn:hover {
  cursor: pointer;
  color: gray;
}
