.creator {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  font-size: 12px;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  padding: 0px;
  gap: 10px;
  border: solid;
  border-width: 0;
  border-radius: 5px;
}
.creator * {
  margin: 0;
}
.creator > * {
  padding: 5px;
}
.creator > textarea,
.creator > input,
.creator > button {
  /* border: none; */
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}

.creator > span {
  display: flex;
  width: 100%;
  border: 0;
  outline: none;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.creator > textarea {
  height: 100px;
  resize: vertical;
}
