.upload {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-height: 100%;
}
/* override child styling */
.upload > * {
  padding: 0 10px 0 10px;
  padding-left: 10px;
  padding-top: 0px;
}
.upload > h2 {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  font-size: large;
}
