.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: space-between; */
    width: 100%;
    padding: 0;
    background: #673ab7;
    z-index: 50;
}

.header > h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-weight: 400;
    font-size: large;
    color: #fff;
}

.header > nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* float: right; */
    font-size: 100%;
}

.header > nav > a {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #fff;
    will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
    background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
    background: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 400px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        background: #673ab7;
        z-index: 50;
    }

    .header > nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        /* float: right; */
        font-size: 100%;
    }
}
