.header {
  width: 5.3125rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.1);
  background: #252427;
  color: #fff;
  z-index: 50;
}

.header > img {
  margin: 0;
  padding: 0.625rem 0.625rem 0 0.625rem;
  height: 3.5rem;
  object-fit: cover;
}

.header > nav {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header > nav > * {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 0.625rem;
  width: 100%;
  text-align: left;
  min-width: 3.125rem;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: inherit;
  will-change: background-color;
  border: none;
  font-size: medium;
}

.header > nav > *:last-child {
  position: absolute;
  bottom: 0;
}

.header nav *:hover,
.header nav *:active {
  color: #aaaaaa;
}

.header nav *.active {
  font-weight: bold;
}
