.header {
  width: 85px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #252427;
  color: #fff;
  z-index: 50;
}

.header > img {
  margin: 0;
  padding: 10px 10px 0 10px;
  height: 56px;
  object-fit: cover;
}

.header > nav {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header > nav > * {
  height: 56px;
  line-height: 56px;
  padding: 0 10px;
  min-width: 50px;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: inherit;
  will-change: background-color;
  border: none;
  font-size: medium;
}

.header > nav > *:last-child {
  position: absolute;
  bottom: 0;
}

.header nav *:hover,
.header nav *:active {
  color: #aaaaaa;
}

.header nav *.active {
  font-weight: bold;
}
