.header {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #252427;
  color: #fff;
  z-index: 50;
}

.header > h1 {
  margin: 0;
  padding: 15px;
  font-weight: 400;
  font-size: large;
  color: inherit;
  text-align: center;
}

.header > nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header > nav > a {
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: inherit;
  will-change: background-color;
}

.header > nav > a:last-child {
  margin-top: auto;
}

.header nav a:hover,
.header nav a:active {
  color: #aaaaaa;
}

.header nav a.active {
  font-weight: bold;
}
