.creator {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr 2fr;
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 5px;
    gap: 10px;
    border: solid;
    border-width: 0;
    border-radius: 5px;
}
.creator * {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 5px;
}

.grid > * {
    padding: 5px;
}
.grid > label {
    text-align: end;
    /*align-self: center;*/ /* works on grid AND flex, not just flex :) */
}
.grid > textarea,
.grid > input {
    border: none;
    border-radius: 5px;
    outline: none;
}

@media (min-width: 400px) {
    .creator {
        width: 400px;
        max-height: 100%;
    }
}
