.preact_root {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.main {
    width: 100%;
    flex-grow: 1;
}

.logout {
    position: fixed;
    bottom: 10px;
    right: 10px;
}