.preact_root {
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    /* overflow: hidden; */
    /* justify-items: center; */
    background-color: #ffffff;
}

.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "content"
        "sidebar";
}

.wrapper > * {
    padding: 5px;
    background-color: goldenrod;
    height: min-content;
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "header  header"
            "content sidebar";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 5fr 1fr;
    }
    nav ul {
        flex-direction: column;
    }
}
/* stretch last thing to fit remaining height */
/* .preact_root > *:last-child {
    flex: 1;
} */

/* h1 {
    margin: 0;
}

.container {
    justify-self: center;
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container > * {
    width: 100%;
    
    --color: blue;
    background-color: var(--color);
}


@media only screen and (min-width: 800px) {
    .container {
        justify-self: center;
        display: grid;
        width: 800px;
        height: 100%;
        grid-template: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    }
    
    .container > * {
        --r: 1;
        --c: 1; 
        grid-column: span var(--c);
        grid-row: span var(--r);
        
        --color: blue;
        background-color: var(--color);
    }
  } */
