.filters {
  display: grid;
  grid-template-columns: 1fr;
  position: sticky;
  top: 0;
  left: 0;
  background: #ffffff;
  padding: 10px;
  padding-bottom: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cli {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0;
  background-color: #f2f2f2;
  overflow: hidden;
  color: #535353;
}
.btn {
  font-size: medium;
  padding: 5px;
  border: none;
  background: inherit;
  color: #444444;
}
.btn:hover {
  cursor: pointer;
  color: gray;
}
.cmd {
  font-size: medium;
  display: grid;
  outline: none;
  border: none;
  background: inherit;
  padding: 5px;
  border-radius: 0;
  border-right: solid 1px rgba(0, 0, 0, 0.3);
}
.query {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 5px;
}
.chosen {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  overflow-x: auto;
}
.chosen > * {
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  display: none;
}

@media (min-width: 400px) {
  .hidden {
    display: inline;
  }
}
